
<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

<!-- Look in _includes/theme for <head> and <body> definitions -->
{% if site.remote_theme contains 'minima' %}
  {%- include theme/minima/base.html -%}
{% elsif site.remote_theme contains 'midnight' %}
  {%- include theme/midnight/base.html -%}
{% elsif site.remote_theme contains 'dinky' %}
  {%- include theme/dinky/base.html -%}
{% elsif site.remote_theme contains 'time-machine' %}
  {%- include theme/time-machine/base.html -%}
{% elsif site.remote_theme contains 'cayman' %}
  {%- include theme/cayman/base.html -%}
{%- else -%}
  {%- include head.html -%}
  <body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  </body>
{% endif %}

</html>
